.logo {
    width: 50px;
    height: 50px;
}

.playerBtn {
    width: 200px;
    height: 200px;
}

#rdioframe {
    width: 1000px;
    height: 800px;
}

#pauseButton {
    visibility: hidden;
}

/*
#fblogin {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:transparent;
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
    text-indent:0px;
    border:2px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    font-style:normal;
    height:35px;
    line-height:35px;
    width:200px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
}

#fblogin:active {
    position:relative;
    top:1px;
}
*/
